.wrapper {
    overflow: hidden;
}

body {
    -webkit-user-select: none;
    /* Per Chrome, Safari, e Opera */
    -moz-user-select: none;
    /* Per Firefox */
    -ms-user-select: none;
    /* Per Internet Explorer */
    user-select: none;
    /* Standard */
}

.numpad-btn {
    font-size: 30px;
    font-weight: bold;
}

.fixed-width-home {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-width {
    width: 175px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 16px;
}

.custom-button {
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .custom-input {
    width: 175px;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: center;
    padding-right: 16px;
} */

.flashing {
    animation: flashing 1s linear infinite;
    -webkit-animation-name: flashing;
    animation-name: flashing;
}

@-webkit-keyframes flashing {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes flashing {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.zoom-swal-popup {
    font-size: 1.3rem;
    transform: scale(1.0);
}

#KioskBoard-VirtualKeyboard {
    zoom: 1.3;
    height: 50%;
}

#KioskBoard-VirtualKeyboard .kioskboard-row-numpad span[class^=kioskboard-key] {
    width: calc(33.3333% - 25px);
}

@media only screen and (max-width:767px) {

    #KioskBoard-VirtualKeyboard .kioskboard-row-numpad span[class^=kioskboard-key] {
        font-size: 25px !important;
        width: calc(33.3333% - 25px);
    }
}

.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: none;
}

.modal-fullscreen .modal-content {
    width: 100%;
    height: 100%;
}

* {
    border-radius: 0 !important;
}

.os-content {
    padding: 0 !important;
}

.nav-sidebar a.nav-link {
    padding: 20px 5px;
}