.wrapper {
    overflow: hidden;
}

body {
    -webkit-user-select: none; /* Per Chrome, Safari, e Opera */
    -moz-user-select: none; /* Per Firefox */
    -ms-user-select: none; /* Per Internet Explorer */
    user-select: none; /* Standard */
}

.numpad-btn {
    font-size: 30px;
    font-weight: bold;
}

.fixed-width-home {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-width {
    width: 175px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 16px;
}

.custom-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .custom-input {
    width: 175px;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: center;
    padding-right: 16px;
} */