.wrapper {
    overflow: hidden;
}

body {
    -webkit-user-select: none; /* Per Chrome, Safari, e Opera */
    -moz-user-select: none; /* Per Firefox */
    -ms-user-select: none; /* Per Internet Explorer */
    user-select: none; /* Standard */
}